.btn-dark {
    text-align: left;
}

.stacks {
    display: flex;
    align-items: flex-start;
    overflow-x: auto; 
    white-space: nowrap; 
}
.stack {
    margin-right: 20px;
    position: relative;
    display: inline-block;
}
.stack ul {
    padding-top: 25px;
}
.stack-number {
    font-weight: bold;
    font-size: 1.25em;
    position: absolute;
    top: 0;
    left: 0;
}
.arrow {
    font-size: 2em;
    margin: 0 10px;
    align-self: center;
}

.highlight {
    background-color: yellow;
}